* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 18px;
   font-weight: 500;
}

.header {
  background-color: orangered;
  color: #fff;
  padding: 5rem;
}

